
<html>
<head>
   	<title>SRH Associates</title>
	<link rel="icon" href="{{url_for('static',filename='Images/SRH.jpg')}}" type="image/gif">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/s1.css')}}">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>

<section class="service-grid pb-5 pt-5">
                <div class="container">
                <div class="row">
                    <div class="col-xl-12 text-center mb-4">
                        <div class="service-title">
                            <h2 style="color: white;">Our Services</h2>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                   
                    
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap Banking">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">BANKING AND ACCOUNTANCY</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            </div>
                        </div>
                    
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap Professional_advisory">
                            <div class="service-icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <h4 style="color: orange;">PROFESSIONAL ADVISORY</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap Wealth_management">
                            <div class="service-icon">
                                <i class="fas fa-cogs"></i>
                            </div>
                            <h4 style="color: orange;">WEALTH MANAGEMENT</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap Mutual_funds">
                            <div class="service-icon">
                                <i class="fas fa-chart-pie"></i>
                            </div>
                            <h4 style="color: orange;">MUTUAL FUNDS</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 text-center mb-3">
                        <div class="service-wrap investments">
                            <div class="service-icon">
                                <i class="fas fa-thumbs-up"></i>
                            </div>
                            <h4 style="color: orange;">INVESTMENTS</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap stock_market">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">STOCK MARKET</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 text-center mb-3">
                        <div class="service-wrap audit_consulting">
                            <div class="service-icon">
                                <i class="far fa-chart-bar"></i>
                            </div>
                            <h4 style="color: orange;">AUDIT CONSULTANCY</h4>
                            <p style="color: white;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry...</p>
                            
                        </div>
                    </div>

                </div>
            </div>
            <center><button class="pull-right btn button"><a style="color:white;" href="{{url_for('home')}}">Back to Home</a></button></center>
        </section>
    </body>
    </html>